.dot {
  height: 3vh;
  margin-top: 0.3rem;
  background-color: #EBECEC;
  
}
.header {
  display: flex;
  align-items: center;
  gap: 83rem;
}
.documents {
  margin-left: 1.8rem;
}
.shared {
  display: flex;
  gap: 78em;
}
.second-header{
  margin-left: 2rem;
}
.download {
  color: #0056b3;
  cursor: pointer;
}
.files {
  display: flex;
  gap: 76.70rem;
  margin-left: 6rem;
}
.pdf {
  height: 2.7vh;
}
.specification {
  height: 2.4vh;
  width: 1rem;
}
.dispersion {
  border: solid;
  border-width: 0.001px;
  width: 14.3rem;
  border-radius: 0.39rem;
  cursor: pointer;
}
.drawing {
  border: solid;
  border-width: 0.001px;
  width: 15.2rem;
  border-radius: 0.39rem;
  cursor: pointer;
}
.purhase {
  border: solid;
  border-width: 0.001px;
  width: 15.2rem;
  border-radius: 0.39rem;
  cursor: pointer;
}
.specificatin {
  border: solid;
  border-width: 0.001px;
  width: 15.2rem;
  border-radius: 0.44rem;
  cursor: pointer;
}
.main {
  display: flex;
  gap: 2rem;
  margin-left: 13rem;
}
.modal {
  display: flex;
  justify-content: center;
  padding-top: 9rem;
  box-sizing: border-box;
  background-color:#FFF
}
.closee {
  height: 2.1vh;
  width: 1rem;
  display: flex;
  margin-left: 23rem;
}
.emailSearch {
  width: 20.2rem;
  height: 2.3rem;
  border-radius: 0.3rem;
}
.password {
  width: 20.2rem;
  height: 2.3rem;
  border-radius: 0.3rem;
}
.downloads {
  background-color: #005da6;
  color: white!important;
  padding: .5rem 1rem!important;
  border-radius: 0.2rem;
  cursor: pointer;
}
.access {
  color:#005da6
  
}